{% extends ('layout.html.twig') %}

{% block title %}{{ parent() }}   |   {{ title }}{% endblock %}

{% block main %}

    <h3 class="text-center" style="margin-bottom: 30px">Détails de la sortie</h3>

    <div class="offset-sm-3 col-sm-6 " style="margin-top: 30px;margin-bottom: 400px">
        <div class="card">
            <div class="card-body">
                <div>
                    <h3 class="text text-info text-center font-weight-bold"
                        style="margin-bottom: 25px">{{ sortie.nom }}</h3>
                    <p class="text text-right text-secondary font-italic">Date et heure de l'événement
                        : {{ sortie.dateHeureDebut|date() }} || durée : {{ sortie.duree }}h</p>
                    <p class="text text-right font-weight-bold">Nombre de participants : {{ participants|length }}
                        / {{ sortie.nbInscriptionsMax }} places</p>

                    <p>La sortie est : {{ sortie.etat.libelle }}</p>
                    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date() }}</p>
                </div>
                <p>organistaeur : <a href="{{ path('profil',{'id':orga.id}) }}">{{ orga.nom }}</a></p>
                <p>Ville organisatrice : {{ sortie.site.nom }}</p>
                <p>Ville de la sortie : {{ sortie.lieu.ville.nom }}</p>
                <p>Lieu : {{ sortie.lieu.nom }}</p>
                <p>Rue : {{ sortie.lieu.rue }}</p>
                <p>Code postal : {{ sortie.lieu.ville.cp }}</p>
                <p>Latitude : {{ sortie.lieu.latitude }}</p>
                <p>Longitude : {{ sortie.lieu.longitude }}</p>
                {% if ((is_granted('IS_AUTHENTICATED_REMEMBERED'))and (sortie.etat.libelle != 'annulée')) %}
                    <p>Information relative à lévénement : </p>
                {% else %}
                    <p>Motif de l'annulation relative à lévénement : </p>
                {% endif %}
                <p style="margin-top: 20px;margin-bottom: 30px">{{ sortie.infosSortie }}</p>

                <div class="container">
                    <p>Liste des participants : </p>
                    {% for participant in participants %}
                        <div class="row border">
                            <div class="col-1">
                                <a href="{{ path('profil', {'id':participant.id}) }}"><img src="/sortir/public/photoUser/{{ participant.username }}"
                                                                                           width="auto"
                                                                                           height="20px"></a>
                            </div>
                            <a href="{{ path('profil', {'id':participant.id}) }}">
                                <div class="col-12">{{ participant.username }}</div>
                            </a>
                        </div>
                        <br>
                    {% endfor %}

                    {% if (sortie.lieu.latitude != null) %}
                        <div id="map"></div>
                    {% else %}
                        <p>La latitude et la longitude n'etant pas defini, la carte n'est pas disponible !</p>
                    {% endif %}
                </div>

                <div class="offset-3 col-6 ">

                    {% if (sortie.etat.id == 3) %}

                        {% if app.user not in participants  and (sortie.users.count < sortie.nbInscriptionsMax) %}
                            <a href="{{ path("addParticipant",{'id':sortie.id}) }}"
                               class="btn btn-outline-danger btn-block">S'inscrire</a>
                        {% endif %}

                        {% if app.user in participants %}
                            <a href="{{ path("removeParticipant",{'id':sortie.id}) }}"
                               class="btn btn-outline-primary btn-block"
                               style="margin-top: 10px">Se désister</a>
                        {% endif %}

                    {% endif %}

                    {% if app.user == sortie.organisateur %}

                        {% if sortie.etat.id <= 3 %}
                            <a href="{{ path('sortie_modif',{'id':sortie.id}) }}"
                               class="btn btn-outline-danger btn-block">Modifier</a>


                            <a href="{{ path('sortie_annule',{'id':sortie.id}) }}"
                               class="btn btn-outline-primary btn-block"
                               style="margin-top: 10px">Annuler la sortie</a>
                        {% endif %}

                        {% if sortie.etat.id == 1 %}
                            <a href="{{ path("publier",{'id':sortie.id}) }}"
                               class="btn btn-outline-success btn-block">Publier</a>
                        {% endif %}

                    {% endif %}
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        // On initialise la latitude et la longitude de P (centre de la carte)
        //  var lat = 48.202047;
        //  var lon = -2.932644;
        var macarte = null;

        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map').setView([ {{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}], 18);
            var marker = L.marker([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}]).addTo(macarte);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);
        }

        window.onload = function () {
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap();
        };
    </script>


{% endblock %}


