{% extends ('layout.html.twig') %}

{% block title %}{{ parent() }}   |   {{ title }}{% endblock %}

{% block main %}

    <h3 class="text-center" style="margin-bottom: 30px">Nombre de choses à faire : {{ events|length }}</h3>

    <div class="offset-sm-2 col-sm-8 " style="margin-top: 30px;margin-bottom: 50px">
        {% for event in events %}

            <div class="card" style="margin-top: 30px">
                <div class="card-body">
                    <h5 class="card-title text-center text-danger">{{ loop.index }}/{{ loop.length }}
                        : {{ event.nom }}</h5>
                    <h6 class="card-title" style="margin-top: 20px"><span class="text text-success"
                        >nombre max {{ event.nbInscriptionsMax }} </span>| {{ event.dateLimiteInscription|date() }}
                    </h6>
                    <small class="card-text">{{ event.infosSortie }}</small>

                    <div class="offset-4 col-4 " style="margin-top: 20px">
                        <a href="{{ path("details",{'id':event.id}) }}"
                           class="card-link btn btn-outline-primary btn-block">Détails</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div>
        <a href="add"><button type="button">créer une sortie</button></a>
    </div>



{% endblock %}

