{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block main %}


    <div class="container">
        <div class="row">


            <div class="col-md-2 col-lg-2 col-sm-0">
            </div>


            <div class="col-sm-12 col-md-8 col-lg-8 card" style="padding: 60px; margin-bottom: 100px">


                <div class="container" style="margin-bottom: 15px">

                    <div>
                        <h3 class="text text-info font-weight-bold">{{ app.user.prenom }}, souhaitez-vous modifier cette
                            sortie ?</h3>
                    </div>


                    <div>
                        {{ form_start(sortieForm) }}
                        {{ form_errors(sortieForm) }}



                        <div class="group" style="margin-top: 10%">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Nom de la sortie </h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.nom) }}
                                {{ form_errors(sortieForm.nom) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Date et heure </h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.dateHeureDebut) }}
                                {{ form_errors(sortieForm.dateHeureDebut) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Durée (heures) </h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.duree) }}
                                {{ form_errors(sortieForm.duree) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Date limite d'inscription </h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.dateLimiteInscription) }}
                                {{ form_errors(sortieForm.dateLimiteInscription) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Nombre de participants maximum</h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.nbInscriptionsMax) }}
                                {{ form_errors(sortieForm.nbInscriptionsMax) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Description et infos</h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.infosSortie) }}
                                {{ form_errors(sortieForm.infosSortie) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Ville</h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.ville) }}
                                {{ form_errors(sortieForm.ville) }}
                            </div>
                        </div>
                        <div class="group">
                            <div>
                                <p>
                                <h6 class="text font-weight-bold"> Lieu</h6>
                                </p>
                            </div>
                            <div>
                                {{ form_widget(sortieForm.lieu) }}
                                {{ form_errors(sortieForm.lieu) }}
                            </div>
                        </div>


                        <div class="container" style="padding: 5%">
                            <div>
                                <p id="infoLieu"></p>
                                <p id="infoLatitude"></p>
                                <p id="infoLongitude"></p>
                            </div>
                            <div>
                                <p id="infoVille"></p>
                            </div>
                            <div>
                                <label>Site : </label>
                                            {{ app.user.site.nom}}
                            </div>
                        </div>

                        <div class="group">
                            <div>
                                {{ form_label(sortieForm.enregistrer) }}
                                {{ form_widget(sortieForm.enregistrer) }}
                            </div>
                        </div>

                        <div class="group">
                            <div>
                                {{ form_label(sortieForm.publier) }}
                                {{ form_widget(sortieForm.publier) }}
                            </div>
                        </div>


                        <div class="offset-3 col-md-6 col-lg-6 col-sm-8" style="margin-top: 30px">
                            <a href="{{ path('list') }}"
                               class="btn btn-outline-danger btn-block"
                               style="margin-top: 10px">retour</a>
                        </div>

                        {{ form_end(sortieForm) }}

                    </div>
                </div>

            </div>
        </div>
    </div>












    <script>
        $(document).ready(function () {
            $('#sortie_ville').change();
        });

        $('#sortie_ville').change(function (e) {
            var choix = $(this).val();
            $.ajax({
                url: "{{ path('requeteAjax') }}",
                type: 'POST',
                dataType: 'json',
                data: {'choix': choix},
                async: true,
                success: function (data) {
                    $('#sortie_lieu').empty();
                    $.each(data, function (id, lieu) {
                        $('#sortie_lieu').append($('<option value="' + id + '">' + lieu + '</option>'))
                    });
                    $('#sortie_lieu').change();
                }
            });
            e.preventDefault();
        });

    </script>

    <script>
        $('#sortie_lieu').change(function (e) {
            var detailLieu = $(this).val();
            $.ajax({
                url: "{{ path('requeteLieu') }}",
                type: 'POST',
                dataType: 'json',
                data: {'detailLieu': detailLieu},
                async: true,
                success: function (data) {
                    //console.log(data);
                    $('#infoLieu').text('Adresse : ' + data.rue);
                    $('#infoLatitude').text('Latitude : ' + data.longitude);
                    $('#infoLongitude').text('Longitude : ' + data.latitude);
                    $('#infoVille').text('Code Postal : ' + data.cp)
                }
            });
            e.preventDefault();
        });
    </script>
{% endblock %}

