<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 50px;opacity: 0.9">
    <a class="navbar-brand" href="{{ path('list') }}"><img
                src="{{ asset('images/logo_sortir.png') }}" alt="" width="200px"></a>

    {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="margin-left: 20px">

            <ul class="navbar-nav mr-auto mt-4 mt-lg-0">

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span>Administrateur</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('site') }}">Site</a>
                            <a class="dropdown-item" href="{{ path('ville') }}">Ville</a>
                            <a class="dropdown-item" href="{{ path('addUtilisateur') }}">Gestion des utilisateurs</a>

                        </div>

                    </li>
                {% endif %}
                <li class="nav-item dropdown" style="margin-left: 20px">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Bonjour {{ app.user.username }} !</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('monProfil') }}">Mon profil</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>

                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('monProfil') }}"><img
                        src="/sortir/public/photoUser/{{ app.user.username }}" width="auto"
                        height="30px"
                        style=" overflow:hidden; -webkit-border-radius:50px; -moz-border-radius:50px;
                        border-radius:50px;"></a>
                </li>

            </ul>
            <a class="btn btn-danger my-2 my-sm-0" href="{{ path('list') }}" role="button" style="margin-right: 20px">Toutes
                les sorties</a>


            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('add') }}" role="button"
               style="margin-right: 20px">Ajouter une
                sortie</a>

        </div>
    {% endif %}
</nav>