{% extends ('layout.html.twig') %}

{% block title %}{{ parent() }}   |   {{ title }}{% endblock %}

{% block main %}
    <div style="margin-top: 120px"></div>

    <div class="row">


        {#        <div class="col-sm-1"></div>#}


        {#    <div class="col-sm-7" style="margin-top: 30px;margin-bottom: 50px">#}
        {#        {% for event in events %}#}
        {#            {% if event.etat.id == 1 and event.organisateur==app.user.id %}#}

        {#                <h5 class="text-center text-primary">{{ event.nom }}</h5>#}
        {#                <div>#}
        {#                    {% if (event.etat.libelle == 'annulée') %}#}
        {#                        <p class="text text-danger">La sortie est annulée !</p>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#                <h6 style="margin-top: 20px">#}
        {#                            <span class="text text-success">#}
        {#                                    nombre de participant : {{ event.users|length }} / {{ event.nbInscriptionsMax }} places </span>|#}
        {#                    Date et heure de l'événement#}
        {#                    : {{ event.dateHeureDebut|date() }} || durée : {{ event.duree }}h#}
        {#                </h6>#}
        {#                <p>Date limite d'inscription : {{ event.dateLimiteInscription|date() }}</p>#}
        {#                <small>{{ event.infosSortie }}</small>#}

        {#                <div class="offset-2 col-8 " style="margin-top: 20px;margin-bottom: 20px">#}
        {#                    <a href="{{ path("details",{'id':event.id}) }}"#}
        {#                       class="btn btn-sm btn-outline-primary btn-block">Détails de la sortie</a>#}
        {#                </div>#}

        {#            {% elseif event.etat.id != 1 %}#}
        {#                <h5 class="text-center text-primary">{{ event.nom }}</h5>#}
        {#                <div>#}
        {#                    {% if (event.etat.libelle == 'annulée') %}#}
        {#                        <p>La sortie est annulée !</p>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#                <p style="margin-top: 20px"><span class="text text-success"#}
        {#                    >nombre de participant : {{ event.users|length }} / {{ event.nbInscriptionsMax }} places </span>|#}
        {#                    Date et heure de l'événement#}
        {#                    : {{ event.dateHeureDebut|date() }} || durée : {{ event.duree }}h#}
        {#                </p>#}
        {#                <small>Date limite d'inscription : {{ event.dateLimiteInscription|date() }}</small>#}
        {#                <small>{{ event.infosSortie }}</small>#}

        {#                <div class="offset-2 col-8 " style="margin-top: 20px;margin-bottom: 20px">#}
        {#                    <a href="{{ path("details",{'id':event.id}) }}"#}
        {#                       class="btn btn-sm btn-outline-primary btn-block">Détails de la sortie</a>#}
        {#                </div>#}
        {#            {% endif %}#}


        {#        {% endfor %}#}

        <div class="col-lg-4 " style="margin-bottom: 50px;margin-top: 30px">
            <div class="card" style="padding-top: 20px ;padding-right: 20px;padding-left: 20px">
                <div>
                    <br>
                    {{ form_start(search_form) }}

                    <div class="offset-1 col-10" style="margin-bottom: 15px">
                        {{ form_widget(search_form.rechercher) }}

                    </div>

                    <div class="group">
                        {{ form_label(search_form.nom) }}
                        {{ form_widget(search_form.nom) }}
                        {{ form_errors(search_form.nom) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Site </p>
                        {{ form_widget(search_form.site) }}
                        {{ form_errors(search_form.site) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Entre le </p>
                        {{ form_widget(search_form.dateMin) }}
                        {{ form_errors(search_form.dateMin) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Et</p>
                        {{ form_widget(search_form.dateMax) }}
                        {{ form_errors(search_form.dateMax) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        {{ form_label(search_form.isOrganisateur) }}
                        {{ form_widget(search_form.isOrganisateur) }}
                        {{ form_errors(search_form.isOrganisateur) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        {{ form_label(search_form.isInscrit) }}
                        {{ form_widget(search_form.isInscrit) }}
                        {{ form_errors(search_form.isInscrit) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        {{ form_label(search_form.isNotInscrit) }}
                        {{ form_widget(search_form.isNotInscrit) }}
                        {{ form_errors(search_form.isNotInscrit) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        {{ form_label(search_form.sortiesPassees) }}
                        {{ form_widget(search_form.sortiesPassees) }}
                        {{ form_errors(search_form.sortiesPassees) }}
                        <div></div>
                        <br>
                    </div>


                    {{ form_end(search_form) }}


                </div>


                {#                {{ form_start(search_form) }}#}
                {#                {{ form_widget(search_form) }}#}
                {#                {{ form_end(search_form) }}#}
            </div>
        </div>

        <div class="col-lg-8" style="margin-top: 30px;margin-bottom: 50px">
            <div class="card" style="padding-top: 20px">
                <h6 class="text-center text-success" style="margin-bottom: 30px">Actuellement {{ events|length }}
                    sorties</h6>

                <table class="table">
                    <thead>
                    <tr>
                        <td scope="col">Sortie</td>
                        <td scope="col">Date de la sortie</td>
                        <td scope="col">Clôture</td>
                        <td scope="col">Incrits / Places</td>
                        <td scope="col">Etat</td>
                        <td scope="col">Inscrit</td>
                        <td scope="col">Organisateur</td>
                        <td scope="col">Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}

                        {% if event.etat.libelle!='archivée' %}

                            {% if event.etat.libelle =="créée" and app.user == event.organisateur %}
                                {% include ('includes/ligneTab.html.twig') %}
                            {% elseif event.etat.libelle !="créée" %}
                                {% include ('includes/ligneTab.html.twig') %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


    </div>
    </div>


{% endblock %}

