{% extends ('layout.html.twig') %}

{% block title %}{{ parent() }} | Password{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8 card" style="padding: 60px; margin-bottom: 100px">

                <div class="container">

                    <div>
                        <h3 class="text text-info font-weight-bold" >{{ app.user.prenom }}, complétez les champs suivants pour changer votre mot de passe</h3>
                    </div>

                    <div>
                        <br>
                        {{ form_start(form) }}


                        <div class="group">

                            {{ form_label(form.oldPassword) }}
                            {{ form_widget(form.oldPassword) }}
                            {{ form_errors(form.oldPassword) }}
                            <div></div>
                            <br>
                        </div>

                        <div class="group">
                            {{ form_widget(form.password) }}
                            {{ form_errors(form.password) }}
                            <br>
                        </div>


                        <div class="offset-3 col-md-6 col-sm-10 col-lg-6 ">
                            <button type="submit"
                                    class="btn btn-outline-danger btn-block">valider
                            </button>
                            <a href="{{ path('monProfil') }}"
                               class="btn btn-outline-primary btn-block"
                               style="margin-top: 10px">retour</a>
                        </div>


                        {{ form_end(form) }}


                    </div>


                </div>

            </div>

        </div>

        <div class="col-sm-2" >
        </div>


    </div>
    </div>

{% endblock %}