{% extends ('layout.html.twig') %}

{% block title %}{{ parent() }} mon Profil{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">

            <div class="container" style="margin-bottom: 100px">

                <h1>Bonjour {{ app.user.prenom }}, souhaitez-vous modifier votre profil ?</h1>

                <div>
                    <br>
                    {{ form_start(userForm) }}

                    <div class="group">
                        <div class="container"><img src="/sortir/public/photoUser/{{ app.user.username }}" width="200px" height="200px"></div>
                        <br>
                        <p>Photo de profil :</p>
                        {{ form_widget(userForm.fichier) }}
                        {{ form_errors(userForm.fichier) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Pseudo :</p>
                        {{ form_widget(userForm.username) }}
                        {{ form_errors(userForm.username) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Nom :</p>
                        {{ form_widget(userForm.nom) }}
                        {{ form_errors(userForm.nom) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Prénom :</p>
                        {{ form_widget(userForm.prenom) }}
                        {{ form_errors(userForm.prenom) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>E-mail :</p>
                        {{ form_widget(userForm.mail) }}
                        {{ form_errors(userForm.mail) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Téléphone :</p>
                        {{ form_widget(userForm.telephone) }}
                        {{ form_errors(userForm.telephone) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="group">
                        <p>Site :</p>
                        {{ form_widget(userForm.site) }}
                        {{ form_errors(userForm.site) }}
                        <div></div>
                        <br>
                    </div>

                    <div class="offset-3 col-6 ">
                        <button type="submit"
                                class="btn btn-outline-primary btn-block">valider
                        </button>
                    </div>

                    {{ form_end(userForm) }}


                    <div>
                    <p><h4>Souhaitez-vous modifier votre mot de passe ?</h4></p>
                    </div>


                    <div class="offset-3 col-6 ">
                        <a href="{{ path('changerMotDePasse') }}"
                           class="btn btn-outline-primary btn-block"
                           style="margin-top: 10px">valider</a>
                        <a href="{{ path('list')}}"
                           class="btn btn-outline-danger btn-block"
                           style="margin-top: 10px">retour</a>
                    </div>




                </div>



            </div>

        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>

{% endblock %}