{% extends ('layout.html.twig') %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">


            <div class="col-lg-2 col-md-2 col-sm-0">
            </div>


            <div class="col-lg-8 col-sm-12 col-md-8 card" style="padding: 5%; margin-bottom: 100px">


                <div>
                    <p>
                    <h3 class="text text-info text-center font-weight-bold">Profil de "{{ userDetail.username }}"</h3>
                    </p>
                </div>


                <div class="container col-8 ">

                    <div style="margin-bottom: 10px;">
                        <img src="/sortir/public/photoUser/{{ userDetail.username }}" width="50" height="auto">
                    </div>

                    <table class="table">
                        <tr>
                            <td>
                                <h6 class="text font-weight-bold"> Prénom </h6>
                            </td>
                            <td>{{ userDetail.prenom }}</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="text font-weight-bold"> Nom </h6>
                            </td>
                            <td>{{ userDetail.nom }}</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="text font-weight-bold"> E-mail </h6>
                            </td>
                            <td>{{ userDetail.mail }}</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="text font-weight-bold"> Site </h6>
                            </td>
                            <td>{{ userDetail.site.nom }}</td>
                        </tr>
                    </table>


                    <div class="offset-3 col-md-6 col-lg-6 col-sm-10">
                        <a href="{{ path('list') }}"
                           class="btn btn-outline-danger btn-block"
                           style="margin-top: 10px">retour</a>
                    </div>


                </div>
            </div>


        </div>
    </div>


{% endblock %}